#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
#include "EnvConfig.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER=com.quantactions.flutterexample
KEYBOARD_BUNDLE_ID=com.quantactions.flutterexample.QuantActionsKeyboardEstension
APP_GROUP=group.com.quantactions.flutterexample
